<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>JL-A2 Businesses</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  
  <nav>
    <a href="#" class="hover-line">Home</a>
    <a href="business.html" class="hover-line">Business</a>
    <a href="reviews.html" class="hover-line">Reviews</a>
  </nav>

  <div class="section-display">
    <h2>Jessica Lee - Assignment 2</h2>
    <h3>CS493: Cloud App Development, REST API Implementation</h3>
  </div>

  <br>
  <div class="section-text">
    <p>
      This REST API models a review site for businesses. There are two types of resources: businesses, and reviews.
      The web app is designed based on the following design specifications:
      <ul>
        <li>Cloud Datastore is used to store data. The entities are Businesses, and Reviews.</li>
        <li>Functionality includes: Creating a business/review, retrieving a business/review, editing a business/review,
          deleting a business/review, listing all businesses/reviews for an owner/user, and listing all businesses.
        </li>
      </ul>
      On the top right, you can interact with the UI to perform CRUD operations on businesses and reviews.
      Alternatively, you can use URLs and HTTP methods to perform the same actions.
    </p>
  </div>
</body>
</html>