<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>JL-A2 Index</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  
  <nav>
    <a href="#" class="hover-line">Home</a>
    <a href="business.html" class="hover-line">Business</a>
    <a href="reviews.html" class="hover-line">Reviews</a>
  </nav>
  
  <div class="section-display">
    <h2>Jessica Lee - Assignment 2</h2>
    <h3>CS493: Cloud App Development, REST API Implementation</h3>
  </div>
</body>
</html>